body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

section {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

h1 {
    color: #d5006e90;
    margin-bottom: 20px;
    letter-spacing: 5px;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #6e2c91a9;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
}

input:focus {
    border-color: #d5006d;
    outline: none;
}

button {
    padding: 10px;
    background-color: #d5006e90;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover {
    background-color: #a70042;
}

.resultado {
    margin-top: 20px;
    font-size: 1.2em;
    color: #6e2c91a9;
}
